<!DOCTYPE html>
<html lang="pt">

    <head>
        <title>Adicionar notícia</title>
        <link rel="icon" type="image/x-icon" href="/icon/favicon.ico">
        <meta charset="utf-8">
    </head>

    <body>
        <form action="/noticias/adicionar" method="post" style="display: flex;flex-direction: column;">
            <label for="titulo">Título</label>
            <input type="text" id="titulo" name="titulo" style="width:250px;" size="50">

            <label for="resumo">Resumo</label>
            <input type="text" id="resumo" name="resumo" style="width:250px;" size="25">

            <label for="texto">Texto</label>
            <textarea id="texto" name="texto" rows="5" cols="30"></textarea>
            
            <input type="submit" value="Enviar">
        </form>
    </body>

</html>