<!DOCTYPE html>
<html lang="pt">

    <head>
        <title>Base de dados Scuderia Ferrari</title>
        <link rel="icon" type="image/x-icon" href="/icon/favicon.ico">
        <link rel="stylesheet" href="/css/style.css">
        <meta charset='utf-8'>
    </head>

    <body style="background: url(/img/home_background.jpg);background-size:cover;">
        <div class="header">
            <h3>Base de dados Scuderia Ferrari</h3>
        </div>

        <div class="links">
            <a href='/pilotos'>Relação de pilotos</a>
            <a href="/noticias">Notícias</a>
        </div>
    </body>

</html>