<!DOCTYPE html>
<html lang="pt">

    <head>
        <title>2022 drivers lineup</title>
        <link rel="icon" type="image/x-icon" href="/icon/favicon.ico">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/drivers.css">
        <meta charset='utf-8'>
    </head>

    <body>
        <div class="header">
            <h3>Scuderia Ferrari database</h3>
        </div>
        
        <div class="links">
            <a href="/">Home</a>
            <a href="/news">News</a>
        </div>
        
        <div class="main">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Number</th>
                </tr>
                
                <% for(let i = 0;i < pilotos.length;i++){ %>
                    <tr>
                        <td><%= pilotos[i].nome %></td>
                        <td><%= pilotos[i].idade %> years old</td>
                        <td><%= pilotos[i].numero %></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </body>

</html>